/* You can add global styles to this file, and also import other style files */
.example-container{
    margin-left: 50rem; 
    margin-right: 50rem; 
    margin-top: 20rem;
}

/*
    Apparently it is a pain to bundle css with a library when it is built. This is an issue for another day once this thing is actually done.

    FOR THE TIME BEING all the various styles for the library that control animations, placements, etc... will go here. Once this thing is actually done
    we'll move these styles into the library and figure out how to package them up with it. 
*/

// General classes

.flex-container{    
    display: flex;
    flex-direction: row;
    pointer-events: none;

    // Default bootstrap settings
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.flex-container-scrim{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.scrim-close{
    opacity: 0;
}

.scrim-open{
    opacity: 0.6;
}

.scrim-transition{
    transition: opacity .8s;
}

// Flexbox alignment classes - Responsible for aligning the content in the proper place on the screen based on config

// Horizontal classes
.flex-left{
    justify-content: flex-start;
}

.flex-horiz-center{
    justify-content: center;
}

.flex-right{
    justify-content: flex-end;
}

// Vertical classes
.flex-top{
    align-items: flex-start;
}

.flex-bottom{
    align-items: flex-end;
}

.flex-vert-center{
    align-items: center;
}

// Transition classes
.trans-anim-slide{
    transition: transform .8s;
}

.trans-anim-fade{
    transition: opacity .8s;
}

// Animation start location classes - Responsible for hiding / positioning the element off of the screen
.anim-slide-top{
    transform: translateY(-100vh);
}

.anim-slide-bottom{
    transform: translateY(100vh);
}

.anim-slide-right{
    transform: translateX(100vw);
}

.anim-slide-left{
    transform: translateX(-100vw);
}

.anim-fade{
    opacity: 0;
}

.anim-emerge{
    opacity: 1;
}


// "Location" classes - Responsible for positioning the element onto the screen
.position-modal{
    margin: 1rem;
    transform: translate(0, 0);
}

.postion-docked{
    margin: 0;
    transform: translate(0, 0);
}